<html>
  <head>

  </head>

  <body>
    <h1>Brett Simoens</h1>

    <h2>Jr. Web Developer</h2>

    <p>
    Brett Simoens is a recent Web Development Graduate that is new to the Industry but eager to grow and learn more.
    </p>
  </body>

</html>